@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
:root {
    --orange: hsl(25, 97%, 53%);
}

*,
*:before,
*:after {
box-sizing: border-box;
}

h1, h2, h3, p{
    margin: 0;
    padding: 0;
}



body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    background: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;

    align-items: center;
    justify-content: center;
}

main{
    max-width: 26rem;
    aspect-ratio: 1;
    background:-webkit-radial-gradient(circle farthest-side at top center, #252d37 0%, #171e28 86%);
    background:-o-radial-gradient(circle farthest-side at top center, #252d37 0%, #171e28 86%);
    background:-moz-radial-gradient(circle farthest-side at top center, #252d37 0%, #171e28 86%);
    background:radial-gradient(circle farthest-side at top center, #252d37 0%, #171e28 86%);
    border-radius: 2rem;
    padding: 2rem;
    padding-right: 2.6rem;

    display: grid;
    align-content: space-between;
}


h1{
    margin-bottom: 0;
    color: hsl(0, 0%, 100%);
    font-size: 1.75rem;
}

.rating-star{
    background: hsl(213, 19%, 18%);
    padding: 1rem;
    border-radius: 50%;
}

p{
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    margin-top: 1.125rem;
}

button{
    margin-top: 1rem;
    border: none;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    background: hsl(25, 97%, 53%);
    border-radius: 100vmax;
    letter-spacing: .2rem;
    font-weight: 700;
    cursor: pointer;
}



form{
    display: flex;
    justify-content: space-between;
}

label{
    color: hsl(217, 12%, 63%);
    background: hsl(213, 19%, 18%);
    width: 3.25rem;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;

    display: grid;
    place-content: center;
}
label:has(input:checked) {
    color: white;
    background: hsl(216, 12%, 54%);
}
label:hover,
label:has(input:checked):hover{
    color: white;
    background: var(--orange);
}

input[type="radio"]{
    appearance: none;
    margin: 0;
    position: absolute;
}

.centeredPic{
    justify-self: center;
    max-height: 100%;
    /* height: 100%; */
}
.centered{
    /* margin-top: .5rem; */
    text-align: center;
}

.rated{
    color: hsl(25, 97%, 53%);
    background: hsl(213, 19%, 18%);
    border-radius: 1rem;
    padding: .4rem 1.5rem;
    vertical-align:middle;

    max-width: fit-content;
    justify-self: center;
}


.main-block{
    padding-block: 3rem;
}


@media only screen and (max-width: 600px) {
    main{
        width: 93%;
        height: 22rem;
        justify-self: center;
        border-radius: 1rem;

        padding: 1.5rem;
    }

    .rating-star{
        padding: .75rem;
    }

    h1{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    p{
        font-size: 0.875rem;
    }


    label{
        width: 2.5rem;
    }

    button{
        letter-spacing: .15rem;
    }
}
